Announcements:

- See "Important update!" email for logistics.
- HW3 due Monday, HW4 due Thursday
- Project details are out! You should read them before Quiz 4.

Wednesday: Introduction to numpy
    
Friday: numpy part 2

![title](cat.jpg)

In [6]:
import numpy as np

In [7]:
A = np.reshape(np.arange(15), (3, 5))
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

multidimensional arrays

In [8]:
A[0, 2] # zeroth row, second column of A

2

In [9]:
A[-1, 0] # last row, 0th column of A

10

In [10]:
A[-1,:2]

array([10, 11])

In [11]:
A[-1, :] # the entire last row 
# start:end -> 0:len(sequence) -> : here  means "everything along the dimension"

array([10, 11, 12, 13, 14])

In [12]:
A[:, 3] # the entire third column

array([ 3,  8, 13])

In [13]:
A[A % 2 == 1]# all the odd elements

array([ 1,  3,  5,  7,  9, 11, 13])

In [14]:
A[A % 2 == 1] += 2 # modify all the odd elements by +2

In [15]:
A

array([[ 0,  3,  2,  5,  4],
       [ 7,  6,  9,  8, 11],
       [10, 13, 12, 15, 14]])

Functions of Arrays

In [16]:
A = np.arange(1, 11)
B = np.arange(11, 21)
A, B

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
 array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20]))

In [ ]:
# f([x1, x2, x3, ... ]) -> [f(x1), f(x2), ... ]

In [17]:
-A # negate an array

array([ -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10])

In [18]:
np.abs(-A)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [19]:
A + B

array([12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [20]:
A - B

array([-10, -10, -10, -10, -10, -10, -10, -10, -10, -10])

In [21]:
A ** B

array([                  1,                4096,             1594323,
                 268435456,         30517578125,       2821109907456,
           232630513987207,   18014398509481984, 1350851717672992089,
       7766279631452241920])

In [22]:
theta = np.linspace(0, np.pi, 3)
theta

array([0.        , 1.57079633, 3.14159265])

In [24]:
print(np.sin(theta))

[0.0000000e+00 1.0000000e+00 1.2246468e-16]

In [25]:
print(np.cos(theta))

[ 1.000000e+00  6.123234e-17 -1.000000e+00]

In [26]:
np.tan(theta)

array([ 0.00000000e+00,  1.63312394e+16, -1.22464680e-16])

In [27]:
x = np.array([1,2,3])

In [28]:
2 ** x # 2 **1, 2**2, 2**3, look up Reflected arithmetic operators later

array([2, 4, 8])

In [29]:
np.exp(x) # e ** x

array([ 2.71828183,  7.3890561 , 20.08553692])

In [30]:
np.log(x) # natural log (ln)

array([0.        , 0.69314718, 1.09861229])

In [31]:
np.log2(x), np.log10(x)

(array([0.       , 1.       , 1.5849625]),
 array([0.        , 0.30103   , 0.47712125]))

`NaN` `np.nan` Not A Number

In [32]:
x = np.array([1, -2])

x, np.log(x)

/var/folders/t0/z7bd7v710dv11qgg7r8r3k300000gp/T/ipykernel_20106/611737383.py:3: RuntimeWarning: invalid value encountered in log
  x, np.log(x)

(array([ 1, -2]), array([ 0., nan]))

`NaN` values propagate

In [33]:
y = np.log(x)
print(y)
print(y+2)

[ 0. nan]
[ 2. nan]

/var/folders/t0/z7bd7v710dv11qgg7r8r3k300000gp/T/ipykernel_20106/30222960.py:1: RuntimeWarning: invalid value encountered in log
  y = np.log(x)

`np.inf`

In [34]:
z = np.array([1, 2])

r = np.zeros(2)

In [35]:
z/r

/var/folders/t0/z7bd7v710dv11qgg7r8r3k300000gp/T/ipykernel_20106/3700682475.py:1: RuntimeWarning: divide by zero encountered in true_divide
  z/r

array([inf, inf])

In [36]:
r/r

/var/folders/t0/z7bd7v710dv11qgg7r8r3k300000gp/T/ipykernel_20106/181303701.py:1: RuntimeWarning: invalid value encountered in true_divide
  r/r

array([nan, nan])

In [38]:
type(np.nan)

float

Aggregation Functions

In [40]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
# g([x1, x2, x3, ...]) -> y

In [42]:
np.sum(a), a.sum()

(45, 45)

In [43]:
a.mean()

4.5

In [44]:
a.min(), a.max()

(0, 9)

In [45]:
a.prod() # for product 
# example: a.shape gives me (3, 5), np.prod(a.shape) gives me 15, which is the number of elements in the array
#

0

In [52]:
b = np.array([1,2,3])
len(b)

3

In [46]:
(a+1).prod()

3628800

In [53]:
x = np.random.rand(100) # 100 random numbers between 0 and 1 : Uniform([0, 1])
x.var()

# exercise: try to get the same results as x.var() without using the var() (only using mean)

0.08039208135358215

In [55]:
x[:5]

array([0.18166503, 0.93681887, 0.7921645 , 0.57090466, 0.54156092])

In [57]:
np.random.randint(5) # Uniform({0, 1, 2, 3, 4})

3

boolean aggregations

In [85]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [90]:
b = np.arange(10, 20)
b

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [91]:
b > a

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [86]:
a > 8

array([False, False, False, False, False, False, False, False, False,
        True])

In [87]:
(a > 5) & (a % 2 ==1)

array([False, False, False, False, False, False, False,  True, False,
        True])

In [60]:
np.any(a > 8) # return True if ANY of the array elements are True

True

In [61]:
np.all(a < 10) # return True if ALL of the array elements are True

True

Aggregation Along Multiple Dimensions

In [62]:
A = np.reshape(np.arange(15), (3, 5))
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [63]:
A.sum() #  by default, it adds up all the numbers in A

105

In [64]:
A.sum(axis=0) # gives the totals in each column

array([15, 18, 21, 24, 27])

In [65]:
A.sum(axis=1) # gives the totals in each row

array([10, 35, 60])

In [66]:
A.min(axis=0)

array([0, 1, 2, 3, 4])

In [67]:
A.max(axis=1)

array([ 4,  9, 14])

In [68]:
A.mean(axis=1)

array([ 2.,  7., 12.])

In [69]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [70]:
a.cumsum() # cumulative sum - it can be helpful for HW4 problem 5 (random walk one)

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45])

In [72]:
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [74]:
A.cumsum(axis=0)

array([[ 0,  1,  2,  3,  4],
       [ 5,  7,  9, 11, 13],
       [15, 18, 21, 24, 27]])

In [73]:
A.cumsum(axis=1)

array([[ 0,  1,  3,  6, 10],
       [ 5, 11, 18, 26, 35],
       [10, 21, 33, 46, 60]])

In [75]:
A[0, :].sum()

10

Dealing with NaN values -> use the nan* version of methods

In [84]:
A = np.reshape(np.arange(15), (3, 5))
A = 1.0*A # convert to float so that  we can modify elements to be nan later on

In [83]:
A[0, :] = np.nan
A

ValueError: cannot convert float NaN to integer

In [92]:
type(np.nan)

float

In [78]:
A.mean(axis=0)

array([nan, nan, nan, nan, nan])

In [79]:
A.mean(axis=1)

array([nan,  7., 12.])

In [80]:
np.nanmean(A, axis=0) # get the mean, ignoring nan values

array([ 7.5,  8.5,  9.5, 10.5, 11.5])

In [81]:
np.nanmean(A, axis=1) # doesn't know how to get the mean of an empty array, so still gives nan

/var/folders/t0/z7bd7v710dv11qgg7r8r3k300000gp/T/ipykernel_20106/307700822.py:1: RuntimeWarning: Mean of empty slice
  np.nanmean(A, axis=1)

array([nan,  7., 12.])

In [ ]:
id(a) == id(b)

In [94]:
np.all(a == b)

False

In [98]:
s = "hello my name is harlin"

In [99]:
s[2:]

'llo my name is harlin'

In [104]:
for i in range(2, -1, 2): # []
    print(i)
    # range(2) # range(2, len(s))